@import "tailwindcss";

*{
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-thumb{
  background: rgb(13, 148, 136);
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  background: rgb(68, 55, 55);
}
